@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #229abd;
  --secondary-color: #020344;
  --background-color: #e4e7e4;
}

body {
  background-color: var(--background-color);
  color: var(--secondary-color);
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-floating {
  animation: floating 6s ease-in-out infinite;
}

button {
  cursor: pointer;
}

button:not(:disabled) {
  opacity: 1;
}
